.wrapper {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  position: relative;
  overflow: hidden;
}

.container {
  position: relative;
  z-index: 1;
  height: 350px;
  padding: 10px;
  border-radius: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: scale(1.05);
}

.animation {
  height: 260px;
  flex-shrink: 0;
}

.loadingText {
  position: relative;
  z-index: 2;
  font-family: 'Onest', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 59px;
  color: #ffffff;
  text-align: center;
  margin-top: -10px;
}
