.wrapper {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.container {
    position: relative;
    z-index: 1;
    height: 350px;
    padding: 10px;
    border-radius: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: scale(1.05);
}

.animation {
    position: relative;
    width: 180px;
    height: 180px;
    flex-shrink: 0;
}

.logoAnimation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}