.wrapper {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    position: relative;
    overflow: hidden;
    background-color: #090D14;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.errorLogo {
    width: 119px;
    height: 88px;
    margin-bottom: 24px;
}

.title {
    font-family: 'Onest', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
    text-align: center;
    color: #fff;
    margin-bottom: 12px;
}

.subtitle {
    font-family: 'Onest', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    letter-spacing: -1%;
    color: #727E9B;
    margin-bottom: 24px;
}

.telegramButton {
    padding: 10px 16px;
    border-radius: 10px;
    font-family: 'Onest', sans-serif;
    background-color: #212738;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -1%;
    color: #fff;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: opacity 0.2s ease;
    text-decoration: none;
    margin-bottom: 20px;
}

.telegramButton:hover {
    opacity: 0.9;
}

.telegramIcon {
    width: 24px;
    height: 24px;
}