.wrapper {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  position: relative;
  overflow: hidden;
}

.container {
  position: relative;
  z-index: 1;
  padding: 32px 20px 24px;
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.animation {
  width: 260px;
  height: 230px;
  margin-bottom: -18px;
}

.textBlock {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: 'Onest', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  color: #fff;
  margin-bottom: -15px;
}

.subtitle {
  font-family: 'Onest', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: rgba(194, 202, 212, 1);
  margin-bottom: 0;
}

.telegramButton {
  width: 260px;
  height: 44px;
  padding: 0 16px;
  border-radius: 30px;
  font-family: 'Onest', sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.2px;
  color: #fff;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: opacity 0.2s ease;
  text-decoration: none;
  margin-bottom: 20px;
}

.telegramButton:hover {
  opacity: 0.9;
}

.telegramIcon {
  width: 24px;
  height: 24px;
}
