.container {
  margin: 0 auto;
  padding: 16px;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tabs {
  display: flex;
  justify-content: space-between;
  gap: 6px;
}

.tabs button {
  flex: 1;
  min-width: 30%;
  padding: 6px 10px;
  border-radius: 20px;
  font-family: Onest, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  background: none;
  border: none;
  transition: all 0.2s ease;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.statsRow {
  display: flex;
  justify-content: space-between;
  gap: 0;
  align-items: flex-end;
}

.statColumn {
  flex: 1;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.cupImage {
  object-fit: contain;
  display: block;
  vertical-align: bottom;
  height: auto;
}

.place1.cupImage {
  max-width: 145%;;
}

.place2.cupImage,
.place3.cupImage {
  max-width: 130%;;
}

.amount {
  font-family: Onest, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: rgba(255, 255, 255, 1);
  margin-top: -28px;
}

.nameWrapper {
  max-width: 90px;
}

.name {
  font-family: Onest, sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: rgba(194, 202, 212, 1);
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%
}

.date {
  font-family: Onest, sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  color: rgba(194, 202, 212, 1);
}

@media (max-width: 420px) {

  .amount {
    font-size: 13px;
    line-height: 16px;
  }

  .name {
    font-size: 12px;
  }

  .date {
    font-size: 9px;
  }
}

.statsContent {
  position: relative;
  min-height: 260px;
}

.loadingWrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background: rgba(0, 17, 44, 1);
  border-radius: 30px;
  z-index: 2;

  gap: 8px;
  font-family: "Onest", sans-serif;
  font-size: 14px;
  color: #ccc;
}

.loadingIcon {
  width: 44px;
  height: 44px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.statsBody {
  position: relative;
}

.loadingWrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 17, 44, 0.7);
  border-radius: 30px;
  z-index: 2;
  gap: 8px;
  transition: background 0.3s ease;
  font-family: Onest, sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: rgba(194, 202, 212, 1);
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.loadingIcon {
  width: 44px;
  height: 44px;
  animation: spin 1s linear infinite;
}
