.wrapper {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    position: relative;
    overflow: hidden;
    margin-top: 15px;
}

.container {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.animation {
    width: 260px;
    height: 230px;
}

.textBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title,
.subtitle {
    font-family: 'Onest', sans-serif;
    font-weight: 700;
    text-align: center;
}

.title {
    font-family: 'Onest', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
    text-align: center;
    color: #fff;
    margin-bottom: 12px;
}

.subtitle {
    font-family: 'Onest', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    letter-spacing: -1%;
    color: #727E9B;
    margin-bottom: 24px;
}

.telegramButton {
    padding: 10px 16px;
    border-radius: 10px;
    font-family: 'Onest', sans-serif;
    background-color: #212738;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -1%;
    color: #fff;
    line-height: 24px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s ease;
    text-decoration: none;
}

.telegramButton::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: rgba(255, 255, 255, 0);
    transition: background 0.3s ease;
    pointer-events: none;
}

.telegramButton:hover::after {
    background: rgba(255, 255, 255, 0.06);
}

.telegramButton:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.telegramIcon {
    width: 24px;
    height: 24px;
}